<div class="col-12 border border-dark p-4">
  <table class="table table-bordered border-dark">
    <tbody> 
      <tr>
        <td style="width: 575px;">
          <b>Kaluwala Construction Pvt Ltd.</b><br>
          Plot No-148, Sector-5, IMT Manesar, Gurgaon-122050,Haryana<br>
          Local +91-124-4568666 
        </td>
        <td> 
          <%= image_tag("logo1.jpeg", width: 100,class: "navbar-brand") %> Kaluwala Construction Pvt Ltd.
          </td>
      </tr>
      <tr>
          <td colspan="2">
            <h4>PURCHASE ORDER</h4>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Billing Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
              djbfgjdhgkjdhfgjkdk
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Vender Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
             
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              PO Number : 
            </td>
             <td>
              djbfgjdhgkjdhfgjkdk
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             PO Date :
            </td>
             <td>
              djbfgjdhgkjdhfgjkdk
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              Group : 
            </td>
             <td>
              djbfgjdhgkjdhfgjkdk
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             Project :
            </td>
             <td>
              djbfgjdhgkjdhfgjkdk
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <th colspan="2" class="table-dark">
              Shipping Address
            </th>
          </tr>
        </thead>
        <tbody> 
          <tr>
             <td style="height: 163px;">
              Greenstar Research and Development India Pvt. Ltd.<br>
              Plot No-148, Sector 5, IMT Manesar<br>
              Gurgaon-122050, Haryana India<br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <th colspan="2" class="table-dark">
               Buyer's Information
            </th>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Name : 
            </td>
             <td>
              Karmender Singh
            </td>
          </tr>
          <tr>
            <td>
              Designation: 
            </td>
             <td>
               Sr IT Manager
            </td>
          </tr>
          <tr>
            <td>
                Phone :
            </td>
             <td>
                9891339902
            </td>
          </tr>
          <tr>
            <td>
                E-Mail: 
            </td>
             <td>
                karmender@greenstarled.com  
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <table class="table table-bordered border-dark">
    <thead class="table-dark"> 
      <tr>
        <th>
          S. No #
        </th>
        <th>
          ITEM DESCRIPTION 
        </th>
        <th>
          Per Unit Price (Rs)
        </th>
        <th>
           Quantity Cost(Rs)
        </th>
         <th>
          Cost(Rs)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
    </tbody>
  </table>


</div>
