<div class="col-12 border border-dark p-4">
  <table class="table table-sm table-bordered border-dark">
    <tbody> 
      <tr>
        <td style="width: 575px;" >
          <p class="fs-6">
          <b>Kaluwala Construction Pvt Ltd.</b><br>
          Plot No-148, Sector-5, IMT Manesar, Gurgaon-122050,Haryana<br>
          Local +91-124-4568666 
          </p>
        </td>
        <td> 
          <%= image_tag("logo1.jpeg", width: 100,class: "navbar-brand") %> Kaluwala Construction Pvt Ltd.
          </td>
      </tr>
      <tr>
          <td colspan="2">
            <h5>PURCHASE ORDER</h5>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Billing Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
              <p class="fs-6">
                <b>Kaluwala Construction Pvt Ltd.</b><br>
                Plot No-148, Sector-5, IMT Manesar, Gurgaon-122050,Haryana<br>
                Local +91-124-4568666 
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Vender Name and Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td style="height: 138px;">
              <p class="fs-6">
                <b>Green Star Pvt Ltd.</b><br>
                Plot No-148, Sector-5, IMT Manesar, Gurgaon-122050,Haryana<br>
                Local +91-124-4568666 
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              PO Number : 
            </td>
             <td>
              PO/1712812263/11
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             PO Date :
            </td>
             <td>
              2024-04-11
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
              Group : 
            </td>
             <td>
              IT
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <tbody> 
          <tr>
            <td class="table-dark" style="width: 175px;">
             Project :
            </td>
             <td>
              Gurugram
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
              Shipping Address
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
             <td style="height: 131px;">
              Greenstar Research and Development India Pvt. Ltd.<br>
              Plot No-148, Sector 5, IMT Manesar<br>
              Gurgaon-122050, Haryana India<br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
               Buyer's Information
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td>
              Name : 
            </td>
             <td>
              Karmender Singh
            </td>
          </tr>
          <tr>
            <td>
              Designation: 
            </td>
             <td>
               Sr IT Manager
            </td>
          </tr>
          <tr>
            <td>
                Phone :
            </td>
             <td>
                9891339902
            </td>
          </tr>
          <tr>
            <td>
                E-Mail: 
            </td>
             <td>
                karmender@greenstarled.com  
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <table class="table table-sm table-bordered border-dark">
    <thead class="table-dark"> 
      <tr>
        <td>
          S. No #
        </td>
        <td>
          ITEM DESCRIPTION 
        </td>
        <th>
          Per Unit Price (Rs)
        </td>
        <td>
           Quantity
        </td>
         <td>
          Cost(Rs)
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
      <tr>
        <td>HDD 1TB</td>
        <td>2345</td>
        <td>323</td>
        <td>232131</td>
        <td>232131</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>Basic Price</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>GST@18.00%</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td colspan="2" class="table-dark">
              Terms and Conditions :
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
             <td style="height: 160px;">
              1. By accepting the PO you abide by the terms and conditions of<br/>
                GSRD and no change in this PO valid unless in writing by<br/>
                GSRD.<br/>
                2. Taxes will be extra as define by GST Law of India.<br/>
                3. Mention the same Part Name and No in the invoice as per PO<br/>
                otherwise invoice will not accept by GSRD.<br/>
                4. Supplier must need to send the acceptance in writing of PO<br/>
                within 24 hours from receipt of PO from GSRD.<br/>
                5. Delivery Date/Schedule : within 2 working days<br/>
                6. PO Cancel Date :<br/>
                7. Payment Terms : 30 days on receipt of material at GSRD.<br/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6"> 
      <table class="table table-sm table-bordered border-dark">
        <thead>
          <tr>
            <td class="table-dark">
              Authorized Signatory Company Seal
            </td>
            <td class="table-dark">
               Company Seal
            </td>
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td class="p-5">
              karmender@greenstarled.com  
            </td>
            <td class="p-5">
              fdsfsfs
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
