    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse">
     <div class="container">
        <a class="navbar-brand" href="#">
         
          <%= image_tag("logo1.jpeg", width: 150,class: "navbar-brand") %>

        </a>
      </div>
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item  border">
            <%= link_to "Dashboard", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item border">
           
              <%= link_to "New PO", new_purchase_order_path, class: "nav-link" %>
            
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Approved PO
            </a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Pending PO
            </a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>