<div class="d-flex text-body-secondary pt-3 list-group-numbered">
  <p class="pb-3 mb-0 lh-sm">
    <%= link_to post.question, post_path(post),class: "nav-link fw-semibold"%>
    <strong class="d-block text-gray-dark mt-2">posted by <%= link_to post.user.email, "#" %> <span> | </span> <%= pluralize(post.views, "view") %></strong>
  </p>
</div>
<div class="d-flex text-body-secondary pt-3">
  <%= if params[:id]
    post.answer
  else
    truncate(strip_tags(post.answer), length: 500)
    
  end
  %>
</div>

<hr class="bg-danger border-2 border-top" />