<div class="col-md-8">
<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
<% if user_signed_in? and is_current_user_post?(@post)%>
  <%= link_to "Edit this post", edit_post_path(@post) %> |<%= button_to "Destroy this post", @post, method: :delete %>
<%end%>


</div>
</div>






